@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
  font-size: 16px;
  background-color: #fafafa;
  zoom: 1.25;
}

@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 17.6px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: var(--font-lora), serif;
}

.text-primary {
  color: #111;
}

.text-secondary {
  color: #00275c;
}
